*.pyc
publications/14manuscript/inconsolata/
*.aux
*.bbl
*.blg
*.log
*.out
*.tiff
*.plist
*.synctex.gz
*.tsv
*.question
*.success
*.config
*.properties
_cleanup
_oldpcRSCRIPTS
*church
*results
models/modeldata/
models/ripsdata/
models/_models/
experiments/.gitbackup/
experiments/00syllogism/commonJS/
data
*.csv
.Rproj.user
